In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Amy Joanna\Desktop\DS\DS\kidney_disease.csv')
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [3]:
df.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [26]:
df.describe()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,sod,pot,hemo,htn,dm,cad,appet,pe,ane,classification
count,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,0.0,0.0,0.0,0.0,...,400.000000,400.000000,400.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,199.500000,51.562500,76.575000,1.017712,0.90000,0.395000,NaN,NaN,NaN,NaN,...,137.631250,4.577250,12.54250,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,115.614301,16.982996,13.489785,0.005434,1.31313,1.040038,NaN,NaN,NaN,NaN,...,9.206332,2.821357,2.71649,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,2.000000,50.000000,1.005000,0.00000,0.000000,NaN,NaN,NaN,NaN,...,4.500000,2.500000,3.10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,99.750000,42.000000,70.000000,1.015000,0.00000,0.000000,NaN,NaN,NaN,NaN,...,135.000000,4.000000,10.87500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,199.500000,55.000000,80.000000,1.020000,0.00000,0.000000,NaN,NaN,NaN,NaN,...,138.000000,4.400000,12.65000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,299.250000,64.000000,80.000000,1.020000,2.00000,0.000000,NaN,NaN,NaN,NaN,...,141.000000,4.800000,14.62500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,399.000000,90.000000,180.000000,1.025000,5.00000,5.000000,NaN,NaN,NaN,NaN,...,163.000000,47.000000,17.80000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.isnull().sum()

id                  0
age                 0
bp                  0
sg                  0
al                  0
su                  0
rbc               400
pc                400
pcc               400
ba                400
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                 0
wc                  0
rc                  0
htn               400
dm                400
cad               400
appet             400
pe                400
ane               400
classification    400
dtype: int64

In [28]:
df['age'] = df['age'].fillna(df['age'].median())
# df['age'].isnull().sum()
df['sg'] = df['sg'].fillna(df['sg'].median())
# df['sg'].isnull().sum()
df['bp'] = df['bp'].fillna(df['bp'].median())
df['al'] = df['al'].fillna(df['al'].median())
df['su'] = df['su'].fillna(df['su'].median())

df['rbc'] = df['rbc'].fillna(df['rbc'].mode()[0])
df['pc'] = df['pc'].fillna(df['pc'].mode()[0])
df['pcc'] = df['pcc'].fillna(df['pcc'].mode()[0])
df['ba'] = df['ba'].fillna(df['ba'].mode()[0])

df['bgr'] = df['bgr'].fillna(df['bgr'].median())
df['bu'] = df['bu'].fillna(df['bu'].median())
df['sc'] = df['sc'].fillna(df['sc'].median())
df['sod'] = df['sod'].fillna(df['sod'].median())
df['pot'] = df['pot'].fillna(df['pot'].median())
df['hemo'] = df['hemo'].fillna(df['hemo'].median())

df['pcv'] = df['pcv'].fillna(df['pcv'].mode()[0])
df['wc'] = df['wc'].fillna(df['wc'].mode()[0])
df['rc'] = df['rc'].fillna(df['rc'].mode()[0])
df['htn'] = df['htn'].fillna(df['htn'].mode()[0])
df['dm'] = df['dm'].fillna(df['dm'].mode()[0])
df['cad'] = df['cad'].fillna(df['cad'].mode()[0])
df['appet'] = df['appet'].fillna(df['appet'].mode()[0])
df['pe'] = df['pe'].fillna(df['pe'].mode()[0])
df['ane'] = df['ane'].fillna(df['ane'].mode()[0])
df['ane'].isnull().sum()

KeyError: 0

In [7]:
df.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [8]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             400 non-null    float64
 2   bp              400 non-null    float64
 3   sg              400 non-null    float64
 4   al              400 non-null    float64
 5   su              400 non-null    float64
 6   rbc             400 non-null    object
 7   pc              400 non-null    object
 8   pcc             400 non-null    object
 9   ba              400 non-null    object
 10  bgr             400 non-null    float64
 11  bu              400 non-null    float64
 12  sc              400 non-null    float64
 13  sod             400 non-null    float64
 14  pot             400 non-null    float64
 15  hemo            400 non-null    float64
 16  pcv             400 non-null    object
 17  wc              400 non-null    object
 18  rc              400 non-null    object
 19  htn             400 non-null    object
 20  dm              400 non-null    object
 21  cad             400 non-null    object
 22  appet           400 non-null    object
 23  pe              400 non-null    object
 24  ane             400 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [25]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd


print(df)
binary_mappings = {
    "yes": 1, "no": 0,
    "present": 1, "notpresent": 0,
    "normal": 1, "abnormal": 0,
    "good": 1, "poor": 0,
    "ckd": 1, "notckd": 0
}

# List of binary categorical columns
binary_columns = ["htn", "dm", "cad", "pcc", "ba", "rbc", "pc", "appet", "pe", "ane", "classification"]

# Handle missing values before mapping
for col in binary_columns:
    # print(df[col])
    df[col] = df[col].astype(str).str.strip().str.lower()
    # print(df[col])
    df[col] = df[col].map(binary_mappings)


# print(df)

      id   age    bp     sg   al   su  rbc  pc  pcc  ba  ...  pcv    wc   rc  \
0      0  48.0  80.0  1.020  1.0  0.0  NaN NaN  NaN NaN  ...   44  7800  5.2
1      1   7.0  50.0  1.020  4.0  0.0  NaN NaN  NaN NaN  ...   38  6000  5.2
2      2  62.0  80.0  1.010  2.0  3.0  NaN NaN  NaN NaN  ...   31  7500  5.2
3      3  48.0  70.0  1.005  4.0  0.0  NaN NaN  NaN NaN  ...   32  6700  3.9
4      4  51.0  80.0  1.010  2.0  0.0  NaN NaN  NaN NaN  ...   35  7300  4.6
..   ...   ...   ...    ...  ...  ...  ...  ..  ...  ..  ...  ...   ...  ...
395  395  55.0  80.0  1.020  0.0  0.0  NaN NaN  NaN NaN  ...   47  6700  4.9
396  396  42.0  70.0  1.025  0.0  0.0  NaN NaN  NaN NaN  ...   54  7800  6.2
397  397  12.0  80.0  1.020  0.0  0.0  NaN NaN  NaN NaN  ...   49  6600  5.4
398  398  17.0  60.0  1.025  0.0  0.0  NaN NaN  NaN NaN  ...   51  7200  5.9
399  399  58.0  80.0  1.025  0.0  0.0  NaN NaN  NaN NaN  ...   53  6800  6.1

     htn  dm  cad appet  pe ane  classification
0    NaN NaN  NaN   NaN NaN NaN             NaN
1    NaN NaN  NaN   NaN NaN NaN             NaN
2    NaN NaN  NaN   NaN NaN NaN             NaN
3    NaN NaN  NaN   NaN NaN NaN             NaN
4    NaN NaN  NaN   NaN NaN NaN             NaN
..   ...  ..  ...   ...  ..  ..             ...
395  NaN NaN  NaN   NaN NaN NaN             NaN
396  NaN NaN  NaN   NaN NaN NaN             NaN
397  NaN NaN  NaN   NaN NaN NaN             NaN
398  NaN NaN  NaN   NaN NaN NaN             NaN
399  NaN NaN  NaN   NaN NaN NaN             NaN

[400 rows x 26 columns]

In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df_final.drop(columns=['classification'])  
y = df_final['classification']  

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42, stratify=y)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

KeyError: "['classification'] not found in axis"

In [16]:
print(df_final.columns.tolist())

['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'rbc_abnormal', 'rbc_normal', 'pc_abnormal', 'pc_normal', 'pcc_notpresent', 'pcc_present', 'ba_notpresent', 'ba_present', 'pcv_\t43', 'pcv_\t?', 'pcv_14', 'pcv_15', 'pcv_16', 'pcv_17', 'pcv_18', 'pcv_19', 'pcv_20', 'pcv_21', 'pcv_22', 'pcv_23', 'pcv_24', 'pcv_25', 'pcv_26', 'pcv_27', 'pcv_28', 'pcv_29', 'pcv_30', 'pcv_31', 'pcv_32', 'pcv_33', 'pcv_34', 'pcv_35', 'pcv_36', 'pcv_37', 'pcv_38', 'pcv_39', 'pcv_40', 'pcv_41', 'pcv_42', 'pcv_43', 'pcv_44', 'pcv_45', 'pcv_46', 'pcv_47', 'pcv_48', 'pcv_49', 'pcv_50', 'pcv_51', 'pcv_52', 'pcv_53', 'pcv_54', 'pcv_9', 'wc_\t6200', 'wc_\t8400', 'wc_\t?', 'wc_10200', 'wc_10300', 'wc_10400', 'wc_10500', 'wc_10700', 'wc_10800', 'wc_10900', 'wc_11000', 'wc_11200', 'wc_11300', 'wc_11400', 'wc_11500', 'wc_11800', 'wc_11900', 'wc_12000', 'wc_12100', 'wc_12200', 'wc_12300', 'wc_12400', 'wc_12500', 'wc_12700', 'wc_12800', 'wc_13200', 'wc_13600', 'wc_14600', 'wc_14900', 'wc_15200', 'wc_15700', 'wc_16300', 'wc_16700', 'wc_18900', 'wc_19100', 'wc_21600', 'wc_2200', 'wc_2600', 'wc_26400', 'wc_3800', 'wc_4100', 'wc_4200', 'wc_4300', 'wc_4500', 'wc_4700', 'wc_4900', 'wc_5000', 'wc_5100', 'wc_5200', 'wc_5300', 'wc_5400', 'wc_5500', 'wc_5600', 'wc_5700', 'wc_5800', 'wc_5900', 'wc_6000', 'wc_6200', 'wc_6300', 'wc_6400', 'wc_6500', 'wc_6600', 'wc_6700', 'wc_6800', 'wc_6900', 'wc_7000', 'wc_7100', 'wc_7200', 'wc_7300', 'wc_7400', 'wc_7500', 'wc_7700', 'wc_7800', 'wc_7900', 'wc_8000', 'wc_8100', 'wc_8200', 'wc_8300', 'wc_8400', 'wc_8500', 'wc_8600', 'wc_8800', 'wc_9000', 'wc_9100', 'wc_9200', 'wc_9300', 'wc_9400', 'wc_9500', 'wc_9600', 'wc_9700', 'wc_9800', 'wc_9900', 'rc_\t?', 'rc_2.1', 'rc_2.3', 'rc_2.4', 'rc_2.5', 'rc_2.6', 'rc_2.7', 'rc_2.8', 'rc_2.9', 'rc_3', 'rc_3.0', 'rc_3.1', 'rc_3.2', 'rc_3.3', 'rc_3.4', 'rc_3.5', 'rc_3.6', 'rc_3.7', 'rc_3.8', 'rc_3.9', 'rc_4', 'rc_4.0', 'rc_4.1', 'rc_4.2', 'rc_4.3', 'rc_4.4', 'rc_4.5', 'rc_4.6', 'rc_4.7', 'rc_4.8', 'rc_4.9', 'rc_5', 'rc_5.0', 'rc_5.1', 'rc_5.2', 'rc_5.3', 'rc_5.4', 'rc_5.5', 'rc_5.6', 'rc_5.7', 'rc_5.8', 'rc_5.9', 'rc_6.0', 'rc_6.1', 'rc_6.2', 'rc_6.3', 'rc_6.4', 'rc_6.5', 'rc_8.0', 'htn_no', 'htn_yes', 'dm_\tno', 'dm_\tyes', 'dm_ yes', 'dm_no', 'dm_yes', 'cad_\tno', 'cad_no', 'cad_yes', 'appet_good', 'appet_poor', 'pe_no', 'pe_yes', 'ane_no', 'ane_yes', 'classification_ckd', 'classification_ckd', 'classification_notckd']