In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.DataFrame({'A': [1, 2, 3]})

   A
0  1
1  2
2  3

There are 2 types of data frames in pandas ---> Series and DataFrame

Series: a one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc.

DataFrame: a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

In [4]:
#Creating Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
''' Creating a DataFrame by passing a dictionary of objects 
where the keys are the column labels and the values are the column values.'''

df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
# Find Data types
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [7]:
# Uploading a dataset

data = pd.read_csv('Ecommerce_Consumer_Behavior_Analysis_Data.csv')

#This can be csv, excel, sql, etc

Viewing the data

In [8]:
data.head()
data.tail()
# We can mention the number of rows in the () if we dont mention it considers 5.

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,$463.67,...,4,NaN,Tablet,PayPal,7/7/2024,True,False,Need-based,Standard,5
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,$69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,$453.37,...,6,High,Desktop,Credit Card,3/11/2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,$106.15,...,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,$378.47,...,10,Low,Tablet,Other,12/8/2024,False,False,Planned,Express,2

In [9]:
data.index

RangeIndex(start=0, stop=1000, step=1)

In [10]:
#List all col names
data.columns

Index(['Customer_ID', 'Age', 'Gender', 'Income_Level', 'Marital_Status',
       'Education_Level', 'Occupation', 'Location', 'Purchase_Category',
       'Purchase_Amount', 'Frequency_of_Purchase', 'Purchase_Channel',
       'Brand_Loyalty', 'Product_Rating',
       'Time_Spent_on_Product_Research(hours)', 'Social_Media_Influence',
       'Discount_Sensitivity', 'Return_Rate', 'Customer_Satisfaction',
       'Engagement_with_Ads', 'Device_Used_for_Shopping', 'Payment_Method',
       'Time_of_Purchase', 'Discount_Used', 'Customer_Loyalty_Program_Member',
       'Purchase_Intent', 'Shipping_Preference', 'Time_to_Decision'],
      dtype='object')

In [11]:
# Describe about the data like mean, median , min, dtype etc
data.describe()
# data.describe

,Age,Frequency_of_Purchase,Brand_Loyalty,Product_Rating,Time_Spent_on_Product_Research(hours),Return_Rate,Customer_Satisfaction,Time_to_Decision
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,34.304000,6.945000,3.026000,3.033000,1.013030,0.954000,5.399000,7.547000
std,9.353238,3.147361,1.416803,1.436654,0.791802,0.810272,2.868454,4.035849
min,18.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
25%,26.000000,4.000000,2.000000,2.000000,0.000000,0.000000,3.000000,4.000000
50%,34.500000,7.000000,3.000000,3.000000,1.000000,1.000000,5.000000,8.000000
75%,42.000000,10.000000,4.000000,4.000000,2.000000,2.000000,8.000000,11.000000
max,50.000000,12.000000,5.000000,5.000000,2.000000,2.000000,10.000000,14.000000

In [12]:
data.T # Transpose the data

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
Customer_ID,37-611-6911,29-392-9296,84-649-5117,48-980-6078,91-170-9072,82-561-4233,90-144-9193,88-661-4689,37-065-3182,84-894-9222,...,85-922-0190,48-271-1908,46-978-3874,53-595-7635,08-185-6608,20-562-2569,41-366-4205,77-241-7621,53-091-2176,48-203-9118
Age,22,49,24,29,33,45,21,39,24,25,...,19,40,22,25,32,44,50,26,21,21
Gender,Female,Male,Female,Female,Female,Male,Female,Male,Female,Bigender,...,Female,Bigender,Female,Female,Female,Female,Female,Male,Female,Female
Income_Level,Middle,High,Middle,Middle,Middle,Middle,Middle,Middle,High,High,...,High,High,High,High,High,High,High,High,High,Middle
Marital_Status,Married,Married,Single,Single,Widowed,Married,Divorced,Single,Divorced,Married,...,Widowed,Single,Single,Divorced,Divorced,Divorced,Single,Married,Widowed,Single
Education_Level,Bachelor's,High School,Master's,Master's,High School,Master's,High School,High School,Master's,Bachelor's,...,Bachelor's,Bachelor's,High School,High School,Master's,Bachelor's,High School,Bachelor's,Bachelor's,High School
Occupation,Middle,High,High,Middle,Middle,High,Middle,Middle,Middle,High,...,High,High,Middle,Middle,Middle,High,Middle,High,Middle,High
Location,Évry,Huocheng,Huzhen,Wiwilí,Nara,Boro Utara,Liren,Taocheng,Gråbo,Pryamitsyno,...,Nanfeng,Oke Ila,Rio Pardo,Pingtang,Podbrdo,Aramayuan,Paquera,Warudoyong,Béziers,Dongzhou
Purchase_Category,Gardening & Outdoors,Food & Beverages,Office Supplies,Home Appliances,Furniture,Office Supplies,Furniture,Books,Office Supplies,Sports & Outdoors,...,Toys & Games,Baby Products,Groceries,Luxury Goods,Baby Products,Mobile Accessories,Gardening & Outdoors,Food & Beverages,Baby Products,Health Care
Purchase_Amount,$333.80,$222.22,$426.22,$101.31,$211.70,$487.95,$486.40,$218.06,$201.96,$418.83,...,$206.32,$308.58,$91.34,$455.44,$468.16,$463.67,$69.78,$453.37,$106.15,$378.47
Frequency_of_Purchase,4,11,2,6,6,8,12,6,8,7,...,5,11,5,7,8,5,9,10,12,6
Purchase_Channel,Mixed,In-Store,Mixed,Mixed,Mixed,Mixed,Online,Online,In-Store,Online,...,Online,Online,Online,Mixed,Online,Online,Mixed,Mixed,In-Store,Online
Brand_Loyalty,5,3,5,3,3,3,2,5,3,2,...,3,2,2,4,3,2,4,1,4,5
Product_Rating,5,1,5,1,4,3,5,4,5,5,...,3,5,1,2,5,4,3,1,4,2
Time_Spent_on_Product_Research(hours),2.0,2.0,0.3,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,2.0,1.0,1.0,1.0,0.3,2.0,2.0,0.3,0.33
Social_Media_Influence,NaN,Medium,Low,High,Medium,High,High,Low,Low,NaN,...,Low,Medium,NaN,Low,Low,High,Low,Low,Low,Medium
Discount_Sensitivity,Somewhat Sensitive,Not Sensitive,Not Sensitive,Somewhat Sensitive,Not Sensitive,Not Sensitive,Somewhat Sensitive,Somewhat Sensitive,Very Sensitive,Somewhat Sensitive,...,Not Sensitive,Not Sensitive,Not Sensitive,Very Sensitive,Somewhat Sensitive,Not Sensitive,Very Sensitive,Very Sensitive,Somewhat Sensitive,Not Sensitive
Return_Rate,1,1,1,0,2,2,0,2,1,1,...,0,0,0,2,1,2,0,0,0,1
Customer_Satisfaction,7,5,7,1,10,3,9,9,2,5,...,4,7,1,3,5,4,6,6,5,10
Engagement_with_Ads,NaN,High,Low,NaN,NaN,NaN,Low,NaN,High,Medium,...,NaN,Medium,NaN,Low,High,NaN,Low,High,Medium,Low
Device_Used_for_Shopping,Tablet,Tablet,Smartphone,Smartphone,Smartphone,Tablet,Desktop,Desktop,Desktop,Tablet,...,Desktop,Smartphone,Smartphone,Smartphone,Desktop,Tablet,Tablet,Desktop,Desktop,Tablet
Payment_Method,Credit Card,PayPal,Debit Card,Other,Debit Card,Debit Card,Debit Card,Credit Card,Cash,PayPal,...,PayPal,Debit Card,Debit Card,Other,Credit Card,PayPal,Cash,Credit Card,Cash,Other
Time_of_Purchase,3/1/2024,4/16/2024,3/15/2024,10/4/2024,1/30/2024,3/19/2024,3/15/2024,3/17/2024,6/10/2024,10/7/2024,...,10/12/2024,5/21/2024,1/10/2024,5/7/2024,1/22/2024,7/7/2024,3/28/2024,3/11/2024,3/30/2024,12/8/2024
Discount_Used,True,True,True,True,False,False,True,False,False,True,...,True,False,True,False,False,True,True,True,True,False
Customer_Loyalty_Program_Member,False,False,True,True,False,False,False,True,False,False,...,False,True,True,False,False,False,False,True,True,False
Purchase_Intent,Need-based,Wants-based,Impulsive,Need-based,Wants-based,Planned,Need-based,Impulsive,Need-based,Need-based,...,Wants-based,Need-based,Impulsive,Need-based,Planned,Need-based,Wants-based,Wants-based,Impulsive,Planned
Shipping_Preference,No Preference,Standard,No Preference,Express,No Preference,No Preference,Express,No Preference,Standard,No Preference,...,Express,Express,Express,No Preference,Standard,Standard,No Preference,Express,Standard,Express
Time_to_Decision,2,6,3,10,4,7,13,13,7,13,...,12,12,6,3,2,5,9,9,8,2

In [13]:
data.sort_index(axis=1, ascending=False)
# axis --> 0: row 1: cols

,Time_to_Decision,Time_of_Purchase,Time_Spent_on_Product_Research(hours),Social_Media_Influence,Shipping_Preference,Return_Rate,Purchase_Intent,Purchase_Channel,Purchase_Category,Purchase_Amount,...,Engagement_with_Ads,Education_Level,Discount_Used,Discount_Sensitivity,Device_Used_for_Shopping,Customer_Satisfaction,Customer_Loyalty_Program_Member,Customer_ID,Brand_Loyalty,Age
0,2,3/1/2024,2.00,NaN,No Preference,1,Need-based,Mixed,Gardening & Outdoors,$333.80,...,NaN,Bachelor's,True,Somewhat Sensitive,Tablet,7,False,37-611-6911,5,22
1,6,4/16/2024,2.00,Medium,Standard,1,Wants-based,In-Store,Food & Beverages,$222.22,...,High,High School,True,Not Sensitive,Tablet,5,False,29-392-9296,3,49
2,3,3/15/2024,0.30,Low,No Preference,1,Impulsive,Mixed,Office Supplies,$426.22,...,Low,Master's,True,Not Sensitive,Smartphone,7,True,84-649-5117,5,24
3,10,10/4/2024,1.00,High,Express,0,Need-based,Mixed,Home Appliances,$101.31,...,NaN,Master's,True,Somewhat Sensitive,Smartphone,1,True,48-980-6078,3,29
4,4,1/30/2024,0.00,Medium,No Preference,2,Wants-based,Mixed,Furniture,$211.70,...,NaN,High School,False,Not Sensitive,Smartphone,10,False,91-170-9072,3,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,5,7/7/2024,0.30,High,Standard,2,Need-based,Online,Mobile Accessories,$463.67,...,NaN,Bachelor's,True,Not Sensitive,Tablet,4,False,20-562-2569,2,44
996,9,3/28/2024,2.00,Low,No Preference,0,Wants-based,Mixed,Gardening & Outdoors,$69.78,...,Low,High School,True,Very Sensitive,Tablet,6,False,41-366-4205,4,50
997,9,3/11/2024,2.00,Low,Express,0,Wants-based,Mixed,Food & Beverages,$453.37,...,High,Bachelor's,True,Very Sensitive,Desktop,6,True,77-241-7621,1,26
998,8,3/30/2024,0.30,Low,Standard,0,Impulsive,In-Store,Baby Products,$106.15,...,Medium,Bachelor's,True,Somewhat Sensitive,Desktop,5,True,53-091-2176,4,21
999,2,12/8/2024,0.33,Medium,Express,1,Planned,Online,Health Care,$378.47,...,Low,High School,False,Not Sensitive,Tablet,10,False,48-203-9118,5,21

In [14]:
data.sort_values(by="Age" , axis=0)

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
78,69-692-0614,18,Female,Middle,Widowed,Bachelor's,High,Shāhzādpur,Mobile Accessories,$214.48,...,3,NaN,Tablet,Cash,4/21/2024,True,True,Wants-based,Express,2
100,38-935-1865,18,Female,High,Widowed,Bachelor's,High,Novoukrainskiy,Beauty & Personal Care,$160.82,...,1,High,Smartphone,Cash,7/9/2024,True,True,Wants-based,No Preference,3
527,37-283-9076,18,Female,Middle,Single,High School,High,Valbo,Furniture,$89.60,...,5,Low,Desktop,Cash,3/10/2024,False,False,Planned,Standard,8
534,79-759-6726,18,Male,High,Widowed,High School,High,Kłoczew,Home Appliances,$151.73,...,3,NaN,Smartphone,Other,9/24/2024,False,True,Wants-based,Express,11
599,08-584-8296,18,Female,Middle,Divorced,High School,High,Shaxi,Food & Beverages,$218.26,...,8,High,Smartphone,Debit Card,2/27/2024,False,False,Wants-based,Standard,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,50-447-5171,50,Female,High,Married,Master's,Middle,Napoli,Office Supplies,$235.49,...,6,NaN,Smartphone,Cash,5/13/2024,True,False,Impulsive,Express,5
985,23-617-2637,50,Female,Middle,Single,Master's,High,Hekou,Software & Apps,$180.21,...,1,Medium,Desktop,Cash,1/22/2024,False,True,Need-based,Express,14
610,85-885-6579,50,Male,Middle,Single,Bachelor's,Middle,Tirana,Arts & Crafts,$346.58,...,9,Low,Tablet,Other,6/3/2024,False,False,Impulsive,Express,7
503,49-825-3438,50,Male,High,Widowed,High School,High,Vabalninkas,Mobile Accessories,$435.23,...,2,Medium,Smartphone,Cash,2/27/2024,False,True,Impulsive,Express,13
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,$69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9

In [15]:
#Get Items from data frame

data['Age']  #--> returns in Series

0      22
1      49
2      24
3      29
4      33
       ..
995    44
996    50
997    26
998    21
999    21
Name: Age, Length: 1000, dtype: int64

In [16]:
data[1:3] # --> returns the slice in rows as df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3

Selection by label  --> loc

In [17]:
data.loc[2]
data.loc[2, "Income_Level"] # Row and Col Name
data.loc[1:3, ["Customer_ID", "Income_Level", "Occupation"]]
data.loc[data["Age"] == 24]

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
8,37-065-3182,24,Female,High,Divorced,Master's,Middle,Gråbo,Office Supplies,$201.96,...,2,High,Desktop,Cash,6/10/2024,False,False,Need-based,Standard,7
31,55-163-1389,24,Male,High,Divorced,Bachelor's,High,Nasielsk,Mobile Accessories,$433.82,...,8,Medium,Desktop,Other,6/29/2024,False,True,Planned,Express,10
50,21-734-0212,24,Female,Middle,Widowed,High School,High,Namur,Beauty & Personal Care,$423.92,...,9,High,Tablet,Credit Card,8/24/2024,False,True,Need-based,Standard,8
170,76-501-6422,24,Male,Middle,Divorced,High School,Middle,Houston,Home Appliances,$205.36,...,1,Low,Tablet,Credit Card,4/27/2024,False,False,Impulsive,Express,5
207,73-139-4306,24,Female,Middle,Married,Master's,High,Puerto López,Luxury Goods,$139.10,...,3,Medium,Desktop,PayPal,3/20/2024,False,False,Impulsive,No Preference,8
215,89-438-5310,24,Male,High,Divorced,Bachelor's,High,Seleuš,Travel & Leisure (Flights,$231.26,...,5,Low,Desktop,Cash,4/30/2024,False,True,Impulsive,No Preference,10
240,43-884-2577,24,Male,Middle,Single,High School,High,Prince Rupert,Health Supplements,$263.50,...,8,Low,Tablet,Debit Card,11/18/2024,False,False,Planned,Standard,1
263,71-876-9118,24,Male,Middle,Single,High School,Middle,Naranjal,Health Supplements,$418.62,...,9,NaN,Smartphone,Other,11/14/2024,True,False,Need-based,Standard,11
271,26-672-1285,24,Genderfluid,Middle,Married,High School,Middle,Moutnice,Clothing,$472.61,...,4,NaN,Smartphone,PayPal,9/15/2024,True,True,Impulsive,Express,5
322,41-501-9276,24,Male,High,Married,Bachelor's,High,Monchegorsk,Sports & Outdoors,$455.81,...,6,Medium,Smartphone,Debit Card,4/21/2024,False,False,Wants-based,Express,6
365,00-275-9990,24,Female,Middle,Married,Bachelor's,Middle,Tempuran,Food & Beverages,$302.74,...,6,High,Smartphone,PayPal,6/28/2024,True,True,Wants-based,Express,5
437,21-959-5766,24,Non-binary,High,Married,High School,Middle,Ma'an,Luxury Goods,$196.63,...,6,Low,Tablet,Other,12/15/2024,True,False,Need-based,No Preference,7
439,35-850-8676,24,Female,High,Married,High School,Middle,Sishilichengzi,Luxury Goods,$472.52,...,8,Medium,Tablet,Cash,1/24/2024,False,True,Planned,No Preference,14
480,46-678-4172,24,Female,Middle,Married,Master's,Middle,Na Chaluai,Luxury Goods,$365.88,...,9,High,Smartphone,Other,11/5/2024,True,False,Need-based,Express,7
530,75-964-5589,24,Male,High,Widowed,Master's,High,Lipovci,Sports & Outdoors,$404.57,...,7,NaN,Smartphone,Debit Card,8/31/2024,False,True,Need-based,Express,14
541,99-080-9462,24,Male,High,Single,High School,Middle,Saraburi,Books,$419.53,...,10,Medium,Tablet,Other,3/27/2024,False,False,Wants-based,Express,6
570,32-314-2958,24,Male,Middle,Married,Master's,High,Nanhuang,Home Appliances,$437.30,...,7,NaN,Tablet,Cash,7/24/2024,True,True,Impulsive,No Preference,1
577,73-359-1998,24,Female,Middle,Divorced,Bachelor's,Middle,Dicamay,Mobile Accessories,$159.30,...,6,High,Tablet,PayPal,4/24/2024,False,True,Impulsive,Express,2
600,81-014-4502,24,Female,Middle,Widowed,Master's,Middle,Kelīshād va Sūdarjān,Animal Feed,$424.18,...,4,Medium,Smartphone,Debit Card,2/14/2024,False,True,Need-based,Express,5
602,19-925-2376,24,Male,High,Single,Bachelor's,Middle,Segodim,Mobile Accessories,$162.95,...,8,Low,Desktop,Cash,7/21/2024,False,True,Impulsive,Express,14
611,65-457-2840,24,Male,Middle,Single,High School,Middle,Maralal,Software & Apps,$292.64,...,10,Medium,Tablet,Credit Card,12/6/2024,True,False,Wants-based,Standard,1
655,54-193-3526,24,Female,Middle,Widowed,Bachelor's,Middle,Masaran,Travel & Leisure (Flights,$81.25,...,8,Medium,Desktop,Cash,5/24/2024,True,True,Planned,No Preference,10
706,30-735-8744,24,Female,Middle,Divorced,Bachelor's,High,Nawu,Mobile Accessories,$465.07,...,2,High,Desktop,Cash,3/2/2024,False,False,Wants-based,No Preference,8
749,36-649-0081,24,Female,High,Divorced,Master's,Middle,Beigucheng,Hotels,$400.86,...,7,Low,Smartphone,Credit Card,9/12/2024,True,False,Planned,No Preference,5
753,80-360-6324,24,Female,High,Single,Bachelor's,Middle,Foso,Packages),$302.60,...,10,NaN,Desktop,Debit Card,7/23/2024,False,True,Impulsive,Standard,2
801,19-386-9088,24,Female,High,Widowed,High School,Middle,Tallahassee,Luxury Goods,$411.95,...,4,NaN,Smartphone,PayPal,12/18/2024,True,True,Impulsive,Standard,5
847,15-421-1255,24,Female,High,Single,High School,Middle,Nanqiao,Books,$497.75,...,1,Medium,Smartphone,Cash,7/3/2024,True,False,Wants-based,Express,13
862,20-421-2544,24,Male,High,Married,High School,High,Kyŏngsŏng,Books,$185.83,...,9,Medium,Desktop,Other,10/17/2024,False,True,Impulsive,Standard,1
881,22-860-9860,24,Female,High,Married,High School,High,Pasinan Barat,Home Appliances,$470.38,...,3,High,Smartphone,Other,11/11/2024,True,True,Impulsive,Standard,9
891,99-945-7193,24,Female,Middle,Single,Master's,High,Lemery,Hotels,$254.29,...,7,Low,Smartphone,Cash,4/30/2024,False,False,Impulsive,Express,3
975,47-528-3961,24,Male,High,Married,Master's,High,Faīẕābād,Gardening & Outdoors,$251.63,...,2,High,Desktop,Credit Card,8/23/2024,True,True,Need-based,Express,10

Selection by index --> iloc

In [18]:
data.iloc[2] # Specific Row

data.iloc[2,3] # Specific Row and Column

data.iloc[1:4, [0, 3, 6]] # Multiple Row and Column

data.iloc[1:3, :]

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3

Boolean indexing

In [19]:
data[data["Customer_Satisfaction"] > 7]

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
6,90-144-9193,21,Female,Middle,Divorced,High School,Middle,Liren,Furniture,$486.40,...,9,Low,Desktop,Debit Card,3/15/2024,True,False,Need-based,Express,13
7,88-661-4689,39,Male,Middle,Single,High School,Middle,Taocheng,Books,$218.06,...,9,NaN,Desktop,Credit Card,3/17/2024,False,True,Impulsive,No Preference,13
11,78-116-8349,38,Female,High,Widowed,Bachelor's,Middle,Győr,Sports & Outdoors,$238.93,...,10,High,Tablet,Cash,12/27/2024,True,False,Planned,No Preference,1
13,80-684-5072,32,Male,High,Married,High School,Middle,Rokytne,Animal Feed,$79.81,...,9,High,Smartphone,Debit Card,7/16/2024,False,True,Wants-based,Standard,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,21-808-2293,30,Male,Middle,Divorced,Bachelor's,Middle,Sukumo,Toys & Games,$431.78,...,8,Low,Smartphone,PayPal,2/15/2024,True,False,Impulsive,No Preference,7
977,22-022-9256,37,Female,Middle,Married,Master's,High,Fenglu,Jewelry & Accessories,$303.09,...,9,NaN,Tablet,Other,1/10/2024,False,False,Impulsive,No Preference,11
982,47-460-8015,48,Male,Middle,Divorced,Master's,High,Yaizu,Books,$359.45,...,8,Medium,Desktop,Other,3/6/2024,False,False,Impulsive,Standard,11
986,60-005-5187,25,Male,Middle,Single,High School,High,Bailadores,Electronics,$197.90,...,8,High,Desktop,Debit Card,1/18/2024,True,True,Wants-based,Standard,14
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,$378.47,...,10,Low,Tablet,Other,12/8/2024,False,False,Planned,Express,2

In [20]:
data[data["Customer_Satisfaction"].isin([9,10])]

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
6,90-144-9193,21,Female,Middle,Divorced,High School,Middle,Liren,Furniture,$486.40,...,9,Low,Desktop,Debit Card,3/15/2024,True,False,Need-based,Express,13
7,88-661-4689,39,Male,Middle,Single,High School,Middle,Taocheng,Books,$218.06,...,9,NaN,Desktop,Credit Card,3/17/2024,False,True,Impulsive,No Preference,13
11,78-116-8349,38,Female,High,Widowed,Bachelor's,Middle,Győr,Sports & Outdoors,$238.93,...,10,High,Tablet,Cash,12/27/2024,True,False,Planned,No Preference,1
13,80-684-5072,32,Male,High,Married,High School,Middle,Rokytne,Animal Feed,$79.81,...,9,High,Smartphone,Debit Card,7/16/2024,False,True,Wants-based,Standard,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,82-474-5074,22,Male,Middle,Married,Bachelor's,High,Ambatolaona,Travel & Leisure (Flights,$96.86,...,10,Medium,Desktop,Debit Card,7/28/2024,False,True,Wants-based,Standard,7
968,16-364-8096,41,Female,High,Married,High School,High,Horní Suchá,Animal Feed,$117.03,...,9,Medium,Tablet,Cash,9/20/2024,False,False,Impulsive,Standard,5
969,62-644-8183,50,Female,Middle,Married,Master's,High,Haradok,Toys & Games,$490.41,...,10,Low,Tablet,Other,10/22/2024,True,False,Planned,Standard,5
977,22-022-9256,37,Female,Middle,Married,Master's,High,Fenglu,Jewelry & Accessories,$303.09,...,9,NaN,Tablet,Other,1/10/2024,False,False,Impulsive,No Preference,11
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,$378.47,...,10,Low,Tablet,Other,12/8/2024,False,False,Planned,Express,2

In [21]:
data[data['Marital_Status']=='Divorced']='Divorcee'
data['Marital_Status']

C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'
C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'
C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'
C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'
C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'
C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'
C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'
C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'
C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'
C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\988135932.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Divorcee' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data[data['Marital_Status']=='Divorced']='Divorcee'

0       Married
1       Married
2        Single
3        Single
4       Widowed
         ...
995    Divorcee
996      Single
997     Married
998     Widowed
999      Single
Name: Marital_Status, Length: 1000, dtype: object

Missing Values

In [22]:
data.dropna(how="all") #any
data.fillna(value="Age") #Parameter can be axis,limit
pd.isna(data) # Return all Null values

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

GROUP BY

In [ ]:
data.groupby('Purchase_Category')['Purchase_Amount'].sum()

data.groupby(['Purchase_Category', 'Gender'])['Purchase_Amount'].mean()

df1 = data.groupby(['Purchase_Category', 'Location']).agg(
    TOTAL_PURCHASE_AMOUNT=('Purchase_Amount', 'sum'), 
    NUNIQUE_CUSTOMERS=('Customer_ID', 'nunique'),  
).reset_index()

In [27]:
import pandas as pd

dt = {
    "Customer_ID": ["C001", "C002", "C003"],
    "Electronics": [200, 150, 180],
    "Clothing": [100, 250, 200],
    "Furniture": [300, 400, 500]
}

df = pd.DataFrame(dt)

df_stacked = df.set_index("Customer_ID").stack().reset_index()
df_stacked.columns = ["Customer_ID", "Category", "Purchase_Amount"]

print(df_stacked)

  Customer_ID     Category  Purchase_Amount
0        C001  Electronics              200
1        C001     Clothing              100
2        C001    Furniture              300
3        C002  Electronics              150
4        C002     Clothing              250
5        C002    Furniture              400
6        C003  Electronics              180
7        C003     Clothing              200
8        C003    Furniture              500

In [30]:
df.set_index("Customer_ID").stack().reset_index().rename(columns={0: "Purchase_Amount"})

  Customer_ID      level_1  Purchase_Amount
0        C001  Electronics              200
1        C001     Clothing              100
2        C001    Furniture              300
3        C002  Electronics              150
4        C002     Clothing              250
5        C002    Furniture              400
6        C003  Electronics              180
7        C003     Clothing              200
8        C003    Furniture              500

Pivot

--> .pivot(): Reshapes data using unique values in columns (fails if duplicate values exist).

--> .pivot_table(): Allows aggregations and works even if duplicate values exist.

In [37]:
df_pivot_table = data.pivot_table(index="Customer_ID", columns="Purchase_Category", values="Purchase_Amount", aggfunc="sum")
print(df_pivot_table)

Purchase_Category Animal Feed Arts & Crafts Baby Products  \
Customer_ID
00-107-4749               NaN           NaN           NaN
00-264-3797               NaN           NaN           NaN
00-265-0556               NaN           NaN           NaN
00-275-9990               NaN           NaN           NaN
00-285-9607               NaN           NaN           NaN
...                       ...           ...           ...
99-581-5577               NaN           NaN           NaN
99-643-9845               NaN           NaN           NaN
99-771-9310               NaN           NaN           NaN
99-945-7193               NaN           NaN           NaN
Divorcee                  NaN           NaN           NaN

Purchase_Category Beauty & Personal Care Books  Clothing  \
Customer_ID
00-107-4749                          NaN   NaN       NaN
00-264-3797                          NaN   NaN       NaN
00-265-0556                          NaN   NaN       NaN
00-275-9990                          NaN   NaN       NaN
00-285-9607                          NaN   NaN  $491.49
...                                  ...   ...       ...
99-581-5577                          NaN   NaN       NaN
99-643-9845                          NaN   NaN       NaN
99-771-9310                          NaN   NaN       NaN
99-945-7193                          NaN   NaN       NaN
Divorcee                             NaN   NaN       NaN

Purchase_Category                                           Divorcee  \
Customer_ID
00-107-4749                                                      NaN
00-264-3797                                                      NaN
00-265-0556                                                      NaN
00-275-9990                                                      NaN
00-285-9607                                                      NaN
...                                                              ...
99-581-5577                                                      NaN
99-643-9845                                                      NaN
99-771-9310                                                      NaN
99-945-7193                                                      NaN
Divorcee           DivorceeDivorceeDivorceeDivorceeDivorceeDivorc...

Purchase_Category Electronics Food & Beverages Furniture  ...    Hotels  \
Customer_ID                                               ...
00-107-4749               NaN              NaN       NaN  ...       NaN
00-264-3797               NaN              NaN       NaN  ...       NaN
00-265-0556               NaN              NaN   $68.02   ...       NaN
00-275-9990               NaN         $302.74        NaN  ...       NaN
00-285-9607               NaN              NaN       NaN  ...       NaN
...                       ...              ...       ...  ...       ...
99-581-5577               NaN              NaN       NaN  ...       NaN
99-643-9845               NaN              NaN       NaN  ...       NaN
99-771-9310               NaN         $399.95        NaN  ...       NaN
99-945-7193               NaN              NaN       NaN  ...  $254.29
Divorcee                  NaN              NaN       NaN  ...       NaN

Purchase_Category Jewelry & Accessories Luxury Goods Mobile Accessories  \
Customer_ID
00-107-4749                         NaN          NaN                NaN
00-264-3797                         NaN          NaN                NaN
00-265-0556                         NaN          NaN                NaN
00-275-9990                         NaN          NaN                NaN
00-285-9607                         NaN          NaN                NaN
...                                 ...          ...                ...
99-581-5577                         NaN          NaN                NaN
99-643-9845                         NaN          NaN                NaN
99-771-9310                         NaN          NaN                NaN
99-945-7193                         NaN          NaN                NaN
Divorcee                            NaN          NaN                NaN

Purchase_Category Office Supplies Packages) Software & Apps Sports & Outdoors  \
Customer_ID
00-107-4749                   NaN       NaN             NaN               NaN
00-264-3797                   NaN       NaN             NaN               NaN
00-265-0556                   NaN       NaN             NaN               NaN
00-275-9990                   NaN       NaN             NaN               NaN
00-285-9607                   NaN       NaN             NaN               NaN
...                           ...       ...             ...               ...
99-581-5577                   NaN       NaN             NaN               NaN
99-643-9845                   NaN       NaN             NaN               NaN
99-771-9310                   NaN       NaN             NaN               NaN
99-945-7193                   NaN       NaN             NaN               NaN
Divorcee                      NaN       NaN             NaN               NaN

Purchase_Category Toys & Games Travel & Leisure (Flights
Customer_ID
00-107-4749                NaN                       NaN
00-264-3797                NaN                       NaN
00-265-0556                NaN                       NaN
00-275-9990                NaN                       NaN
00-285-9607                NaN                       NaN
...                        ...                       ...
99-581-5577                NaN                       NaN
99-643-9845                NaN                       NaN
99-771-9310                NaN                       NaN
99-945-7193                NaN                       NaN
Divorcee                   NaN                       NaN

[756 rows x 25 columns]

In [ ]:
data["Customer_ID"].nunique() == len(df)
data["Customer_ID"].is_unique

False

In [44]:
dt

{'Customer_ID': ['C001', 'C002', 'C003'],
 'Electronics': [200, 150, 180],
 'Clothing': [100, 250, 200],
 'Furniture': [300, 400, 500]}

In [ ]:
df_pivot = df.pivot(index="Customer_ID", columns="Electronics", values="Furniture")

Electronics    150    180    200
Customer_ID
C001           NaN    NaN  300.0
C002         400.0    NaN    NaN
C003           NaN  500.0    NaN

Merge and Concat

In [49]:
data1 = pd.DataFrame({
    "Customer_ID": ["C001", "C002", "C003", "C004"],
    "Name": ["Alex", "Mia", "Ryan", "Zara"]
})

In [50]:
data2 = pd.DataFrame({
    "Customer_ID": ["C001", "C002", "C005", "C006"],
    "Purchase_Amount": [200, 150, 300, 400]
})

In [53]:
pd.merge(data1,data2)

  Customer_ID  Name  Purchase_Amount
0        C001  Alex              200
1        C002   Mia              150

In [54]:
merged_df = data1.merge(data2, on="Customer_ID", how="inner")
print(merged_df)

  Customer_ID  Name  Purchase_Amount
0        C001  Alex              200
1        C002   Mia              150

In [56]:
pieces = [data[:3], data[3:7], data[7:]]
pd.concat(pieces)

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,3/1/2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10/4/2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,...,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee,Divorcee
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,$69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,$453.37,...,6,High,Desktop,Credit Card,3/11/2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,$106.15,...,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,$378.47,...,10,Low,Tablet,Other,12/8/2024,False,False,Planned,Express,2

In [57]:
df.copy

<bound method NDFrame.copy of   Customer_ID  Electronics  Clothing  Furniture
0        C001          200       100        300
1        C002          150       250        400
2        C003          180       200        500>

In [58]:
df["Electronics"] = df["Electronics"].apply(lambda x: x/10)
df

  Customer_ID  Electronics  Clothing  Furniture
0        C001         20.0       100        300
1        C002         15.0       250        400
2        C003         18.0       200        500

In [59]:
df = df.rename(columns={"Electronics":"Electronics_Items"})
df

  Customer_ID  Electronics_Items  Clothing  Furniture
0        C001               20.0       100        300
1        C002               15.0       250        400
2        C003               18.0       200        500

In [60]:
pd.melt(df, id_vars=['Electronics_Items'], value_vars=['Clothing'],
        var_name='myVarname', value_name='myValname')

   Electronics_Items myVarname  myValname
0               20.0  Clothing        100
1               15.0  Clothing        250
2               18.0  Clothing        200

In [62]:
ct = pd.crosstab(data["Gender"], data["Purchase_Category"])
print(ct)

Purchase_Category  Animal Feed  Arts & Crafts  Baby Products  \
Gender
Agender                      1              1              0
Bigender                     0              1              1
Divorcee                     0              0              0
Female                      20             14             13
Genderfluid                  0              0              1
Genderqueer                  1              0              0
Male                        11             10             15
Non-binary                   1              2              0
Polygender                   0              0              0

Purchase_Category  Beauty & Personal Care  Books  Clothing  Divorcee  \
Gender
Agender                                 1      0         1         0
Bigender                                1      0         0         0
Divorcee                                0      0         0       245
Female                                 12     13         6         0
Genderfluid                             0      0         2         0
Genderqueer                             1      0         0         0
Male                                   13     18         8         0
Non-binary                              0      0         0         0
Polygender                              0      0         0         0

Purchase_Category  Electronics  Food & Beverages  Furniture  ...  Hotels  \
Gender                                                       ...
Agender                      0                 0          0  ...       1
Bigender                     3                 2          2  ...       0
Divorcee                     0                 0          0  ...       0
Female                      21                14         16  ...      13
Genderfluid                  0                 0          1  ...       0
Genderqueer                  0                 1          1  ...       0
Male                        15                14         12  ...      14
Non-binary                   1                 1          0  ...       0
Polygender                   1                 0          0  ...       1

Purchase_Category  Jewelry & Accessories  Luxury Goods  Mobile Accessories  \
Gender
Agender                                0             0                   0
Bigender                               0             0                   0
Divorcee                               0             0                   0
Female                                19            18                  11
Genderfluid                            0             0                   1
Genderqueer                            0             1                   0
Male                                  11            10                  15
Non-binary                             0             1                   2
Polygender                             2             0                   0

Purchase_Category  Office Supplies  Packages)  Software & Apps  \
Gender
Agender                          0          2                1
Bigender                         0          1                1
Divorcee                         0          0                0
Female                          14         17               13
Genderfluid                      1          3                1
Genderqueer                      0          0                1
Male                            13          9               17
Non-binary                       0          1                0
Polygender                       0          1                1

Purchase_Category  Sports & Outdoors  Toys & Games  Travel & Leisure (Flights
Gender
Agender                            0             0                          1
Bigender                           1             0                          0
Divorcee                           0             0                          0
Female                            20            20                         10
Genderfluid                        0             1                          0
Genderqueer                        1             0                          0
Male                              18            12                         13
Non-binary                         0             0                          0
Polygender                         0             1                          3

[9 rows x 25 columns]

In [63]:
pd.get_dummies(df)

,Electronics_Items,Clothing,Furniture,Customer_ID_C001,Customer_ID_C002,Customer_ID_C003
0,20.0,100,300,True,False,False
1,15.0,250,400,False,True,False
2,18.0,200,500,False,False,True

In [65]:
label1, unique1 = pd.factorize(['b', 'd', 'd', 'c', 'a', 'c', 'a', 'b'],  
                                                           sort = True) 
  
print("\n\nNumeric Representation : \n", label1) 
print("Unique Values : \n", unique1)

Numeric Representation :
 [1 3 3 2 0 2 0 1]
Unique Values :
 ['a' 'b' 'c' 'd']

C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_21224\2832079925.py:1: FutureWarning: factorize with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  label1, unique1 = pd.factorize(['b', 'd', 'd', 'c', 'a', 'c', 'a', 'b'],

In [ ]:
data.sample(5)
data['Age'].astype('int')